.cube1 {
    animation: rotate 50000ms linear infinite;
    bottom: 0;
    height: 100px;
    left: 80%;
    margin: auto;
    position: absolute;
    transform-style: preserve-3d;
    right: 0;
    top: 0;
    width: 100px;
    z-index: -3;
}

.cube2 {
    animation: rotate 50000ms linear infinite;
    bottom: 0;
    height: 100px;
    left: 0;
    margin: auto;
    position: absolute;
    transform-style: preserve-3d;
    right: 75%;
    top: 46%;
    width: 100px;
    z-index: -3;
}

.cube3 {
    animation: rotate 50000ms linear infinite;
    bottom: 90%;
    height: 100px;
    left: 0;
    margin: auto;
    position: absolute;
    transform-style: preserve-3d;
    right: 25%;
    top: 0;
    width: 100px;
    z-index: -3;
}

.cube4 {
    animation: rotate 50000ms linear infinite;
    bottom: 0;
    height: 100px;
    left: 40%;
    margin: auto;
    position: absolute;
    transform-style: preserve-3d;
    right: 0;
    top: 80%;
    width: 100px;
    z-index: -3;
}

@keyframes rotate {
    100% {
        transform: rotateY(360deg) rotateX(720deg) rotateZ(1080deg);
    }
}

.face {
    height: 150%;
    left: 0;
    position: absolute;
    top: 0;
    width: 150%;
}

.front {
    /* background: #333; */
    border: solid 5px rgb(141, 87, 163);
    transform: translateZ(75px);
}

.back {
    /* background: #444; */
    border: solid 5px rgb(141, 87, 163);
    transform: translateZ(-75px);
}

.left {
    /* background: #555; */
    border: solid 5px rgb(141, 87, 163);
    transform: translateX(-75px) rotateY(90deg);
}

.right {
    /* background: #666; */
    border: solid 5px rgb(141, 87, 163);
    transform: translateX(75px) rotateY(90deg);
}

.top {
    /* background: #777; */
    border: solid 5px rgb(141, 87, 163);
    transform: translateY(-75px) rotateX(90deg);
}

.bottom {
    /* background: #888; */
    border: solid 5px rgb(141, 87, 163);
    transform: translateY(75px) rotateX(90deg);
}