@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Montserrat:900');

$font: 'Lato', sans-serif;
$big: 'Montserrat', sans-serif;

$red: #EF2F3C;
$white: #F6F4F3;
$blue: #276FBF;
$dark: #183059;
$yellow: #F0A202;

$star: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  
.container {
    position:relative;
    margin: auto;
    overflow: hidden;
    width: 950px;
    height: 180px;
  }

html {
  display: grid;
  min-height: 100%;
}


h1 {
  font-family: $font;
  text-align: center;
  margin-top: 2em;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: $white;
}

#timer {
  color: $white;
  text-align: center;
  text-transform: uppercase;
  font-family: $font;
  font-size: .7em;
  letter-spacing: 5px;
  margin-top: 1%;
}

.days, .hours, .minutes, .seconds {
  display: inline-block;
  padding: 5px;
  width: 150px;
  border-radius: 5px;
}

.days {
  background: $white;
  color: $dark;
}

.hours {
  background: $white;
  color: $dark;
}

.minutes {
  background: $white;
  color: $dark;
}

.seconds {
  background: $white;
  color: $dark;
}

.numbers {
    font-family: $big;
    color: $dark;
    font-size: 4em;
  }

.white {
  position: absolute;
  background: $white;
  height: 85px;
  width: 75px;
  left: 30%;
  top: 2%;
  .triangle {
    border-bottom: 14px solid $white;
  }
  .string {
    background: $white;
    border: 1px solid $white;
  }
}

.red {
  position: absolute;
  background: $red;
  left: 18%;
  top: 9%;
  height: 65px;
  width: 70px;
  .triangle {
    border-bottom: 14px solid $red;
  }
  .string {
    background: $red;
    border: 1px solid $red;
  }
}

.blue {
  position: absolute;
  background: $blue;
  height: 80px;
  width: 80px;
  left: 60%;
  top: 5%;
  .triangle {
    border-bottom: 14px solid $blue;
  }
  .string {
    background: $blue;
    border: 1px solid $blue;
  }
}